<ion-header-bar>
  <button class="button button-icon icon ion-home" ng-click="home()"></button>
  <h1 class="title">Assignment</h1>
  <button class="button button-clear button-positive" ng-click="logout()">Logout</button>
</div>
</ion-header-bar>
<ion-content class="padding">
<div>
        Hello, <label><b>{{username1}}</b></label>
</div>
<h1>Here are Some Basic Facts</h1>
    <p>Banging your head against a wall uses 150 calories an hour.</p>
    <p>Dogs have four toes on their hind feet, and five on their front feet.</p>
    <p>The ant can lift 50 times its own weight, can pull 30 times its own weight and always falls over on its right side when intoxicated.</p>
    <p>A cockroach will live nine days without it's head, before it starves to death.</p>
    <p>Polar bears are left handed.</p>
    <p>
        <a class="button icon ion-home" href="#/templates/register"> Home</a>
        <a class="button icon icon-right ion-chevron-right" href="#facts">More Facts</a>
    </p>
</ion-content>
